#root {
	max-width: 780px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.iron-price-section {
	display: flex;
	flex-direction: column;
}

table {
	margin: 0 auto;
	font-size: 1.2rem;

	& td {
		text-wrap: nowrap;
	}

	& th {
		text-wrap: wrap;
		max-width: 8rem;
	}

	& td,
	& th {
		text-align: left;
		padding: 0.2rem 1rem;

		&.first-col {
			border-left: 5px double var(--color);
		}
	}

	& tr:not(:last-of-type) td {
		border-bottom: 1px solid #999;
	}

	& tr[data-disabled='true'] {
		filter: brightness(0.8);
		background-color: #222;
	}

	& td[data-expensive='true'] {
		text-decoration: line-through;
		filter: brightness(0.3);
	}

	& td[data-expensive='false'] {
		background-color: #65f6733d;
	}
}

.breakeven-table {
	& th,
	& td {
		@media (max-width: 650px) {
			padding: 0.2rem 0.3rem;
			font-size: 1rem;
		}
	}
}

.total-costs-table {
	& th,
	& td {
		@media (max-width: 900px) {
			font-size: 1rem;
		}
		@media (max-width: 800px) {
			padding: 0.2rem 0.3rem;
		}
	}

	& th:not(:first-of-type),
	& td:not(:first-of-type) {
		@media (max-width: 680px) {
			text-wrap: wrap;
		}
	}

	& th:first-of-type,
	& td:first-of-type {
		@media (max-width: 580px) {
			text-wrap: wrap;
		}
	}

	& .large-screen {
		@media (max-width: 1000px) {
			display: none;
		}
	}

	& .small-screen {
		@media (max-width: 650px) {
			display: none;
		}
	}

	& .only-small-screen {
		display: none;

		@media (max-width: 650px) {
			display: table-cell;
		}
	}
}

/* let a table "overflow" the standard min width of body while staying centered */
.table-container {
	position: relative;
	width: 99vw;

	left: calc((100vw - 100%) / 2 * -1);
	@media (max-width: 900px) {
		width: 100%;
		margin: 0 auto;
		left: unset;
	}
}

.span2 {
	grid-column: span 2;
}

.gem-price-fields,
.iron-price-form,
.level-fields,
fieldset {
	display: grid;
	grid-template-columns: min-content 1fr;
	gap: 0.5rem 2rem;
	align-items: center;

	@media (max-width: 650px) {
		grid-template-columns: min-content 200px;
	}
	@media (max-width: 550px) {
		grid-template-columns: min-content 150px;
	}

	& label {
		text-wrap: nowrap;
		text-align: left;
	}
}

.gem-price-fields {
	margin-bottom: 1.5rem;
}

.using-artisan-checkbox {
	justify-self: start;
}
.using-artisan-label {
	font-size: 1.2rem;
	font-weight: bold;
	margin-right: 1rem;
}

.totals {
	display: flex;
	justify-content: space-between;
	font-size: 1.2rem;

	& p {
		border-bottom: 5px double var(--color, whitesmoke);
	}
}
