#root {
	max-width: 780px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.iron-price-section {
	display: flex;
	flex-direction: column;
}

.breakeven-table {
	margin: 0 auto;
	/* border-collapse: separate; */
	/* border-spacing: 27px 4px; */

	& * {
		text-align: left;
		text-wrap: nowrap;
	}

	& td {
		padding: 0.2rem 1rem;
	}

	& tr:not(:last-of-type) td {
		border-bottom: 1px solid #999;
	}
}
